body {
    background: #f9f9f9;
}

#wrapper {
    padding: 90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: column;
}

.card {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.footer-bottom {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger {
    display: none
}

#content {
    overflow: auto;
    width: 1085px;
    background: #f9f9f9;
}

#content_ {
    overflow: auto;
    width: 100%;
    background: #f9f9f9;
}

#left, #left_ {
    margin: 2px;
    padding: 1em;
    background: white;
    float: left;
    vertical-align: middle;
}

#right, #right_ {
    margin: 2px;
    padding: 1em;
    background: white;
    float: right;
    vertical-align: middle;
}

#left {
    width: 30%;
}

#right {
    width: 69%;
}

#left_ {
    width: 20%;
}

#right_ {
    width: 79%;
}

.avatar, .avatar_ {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.avatar {
    width: 98%;
    height: 98%;
}

.avatar_ {
    width: 40%;
    height: 40%;
}

@media (min-width: 992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 20px 4px 0;
        cursor: pointer;
    }

    #wrapper {
        padding: 90px 15px 15px 15px;
    }

    .navbar-nav.side-nav.open {
        left: 0;
    }

    .navbar-nav.side-nav {
        background: #585f66;
        box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
        position: fixed;
        top: 56px;
        flex-direction: column !important;
        left: -220px;
        width: 200px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.detailBox {
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li > div {
    display: table-cell;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}

form {
    margin: 0 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer p {
    margin: 0;
}
